@charset "utf-8";
/* CSS Document */

.container
{
	width: 1600px;
	height: 4000px;
	background-color: aquamarine;
	margin: 0px
		
}
.header
{
	width: 1600px;
	height: 150px;
	background-color: antiquewhite;
	
}
.menu
{
width: 1600px;
	height: 150px;
	background-color: aqua;	
}
.logo
{
	width: 1600px;
	height: 150px;
	background-color: bisque;
}
.slider
{
	width: 1600px;
	height: 150px;
	background-color: blanchedalmond;
}